# Genel node_modules
/node_modules

# Build çıktıları
/backend/node_modules
/frontend/node_modules
/frontend/build
/frontend/.env.local
/backend/.env

# Diğer IDE/OS dosyaları
.DS_Store
.env
.idea/
npm-debug.log
yarn-debug.log
yarn-error.log